/* Add this to your styles */
.navbar-shrink {
    width: 79%;
    margin-left: auto;
    /* Adjust the height according to your design */
    transition: width 0.2s;
    /* Add a smooth transition effect */
}

/* Responsive styling for smaller screens */
@media (max-width: 1024px) {
    .navbar-shrink {
        width: 100%;
        /* Adjust the width for smaller screens */
    }
}